//  @font-face {
//     font-family: Sarabun;
//     font-style: normal;
//     src: url("https://fonts.googleapis.com/css?family=Sarabun:300,400,600&display=swap");
//   }
// body
//   font-family: 'Sarabun', sans-serif
// $accentColor = #CFA809
// $textColor = #2c3e50
// $borderColor = #eaecef
// $codeBgColor = #282c34
//.page-nav 
//  font-size 80px